// colours
@import "../config/_colours";

// font stacks
$primaryFontStack:  'octin college', Tahoma, sans-serif;
$headingFontStack:  'sf sports night', arial, sans-serif;

// accessibility
$accessLeft:		-999em;