.faux-table-headers {
    overflow:hidden;
    li {
        background-color: $secondaryDarkBackgroundColour;
        box-sizing: border-box;
        float:left;
        @include font-size(2);
        padding: 40px;
        text-align:center;
        width: 12%;
        &:first-child {
            text-align:left;
            width:20%;
        }
        &:nth-child(2) {
            width:20%;
        }
    }
}
.tracker-list {
    li {
        border:0 solid $primaryColour;
        border-width: 1px 0;
        + li {
            border-top-width:0;
        }
    }
    dl {
        overflow: hidden;
    }
    dt {
        @extend .visually-hidden;
    }
    dd {
        box-sizing: border-box;
        float:left;
        @include font-size(2);
        padding: 40px;
        text-align:center;
        width: 12%;
        &:nth-child(2) {
            text-align:left;
            width:20%;
        }
        &:nth-child(4) {
            width:20%;
        }
    }
}