// Base styles
html {
	font-size: 62.5%; // rem basis
}
body {
	background: $primaryBackgroundColour;
	color: $primaryTextColour;
	font-family: $primaryFontStack;
}
h1 {
	font-family: $headingFontStack;
	@include font-size(3);
}
h2 {
	font-family: $headingFontStack;
}
h3 {
	font-family: $headingFontStack;
}
p {
	@include font-size(1.6);
	margin: 0 0 10px;
}
a {
	color: inherit;
	text-decoration: underline;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}