// Base styles
html {
	font-size: 62.5%; // rem basis
}
body {
	background-color: $primaryDarkBackgroundColour;
	color: $primaryTextColour;
	font-family: $primaryFontStack;
}
main {
	background-color: $primaryLightBackgroundColour;
	min-height: 78vh; // to check, desktop only?
	padding:3rem 25px;
}
section {
	+ section {
		margin-top:3em;
		margin-top:3rem;
	}
}
h1 {
	font-family: $headingFontStack;
	@include font-size(3);
	@include heading-letter-spacing;
}
h2 {
	font-family: $headingFontStack;
	@include font-size(2.3);
	@include heading-letter-spacing;
	margin: 1em 0;
}
.h2 {
	@extend h2;
	display:block;
}
h3 {
	font-family: $headingFontStack;
	@include font-size(1.9);
	@include heading-letter-spacing;
}
p {
	@include font-size(1.6);
	margin: 0 0 10px;
	max-width:50em;
	max-width:80rem;
}
a {
	color: inherit;
	text-decoration: underline;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}
dl {
	-webkit-margin-after:0;
	-webkit-margin-before:0;
}
dd {
	-webkit-margin-start:0;
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}