// defining shades of 'real colours'
$white:                     #FFFFFF;
$black:                     #000000;

// Chosen Colours
$primaryColour:             $black;
$secondaryColour:           #ccc; // to be revised
$primaryBackgroundColour:   $white;
$secondaryBackgroundColour: #ccc;

// Brand Colours
$facebookColour:            #3B5998;
$twitterColour:             #4099FF;
$pinterestColour:           #C92228;

// Text colours
$primaryTextColour:         $primaryColour;
$secondaryTextColour:       $white;
$tertiaryTextColour:        red; // to be revised