// defining shades of 'real colours'
$white:                     #FFFFFF;
$black:                     #000000;

// Chosen Colours
$primaryColour:             $black;
$primaryBackgroundColour:   $white;

// Brand Colours
$facebookColour:            #3B5998;
$twitterColour:             #4099FF;
$pinterestColour:           #C92228;

// Text colours
$primaryTextColour:         $primaryColour;
$secondaryTextColour:       #ccc; // to be revised
$tertiaryTextColour:        $white;